@import '../../../../../styles/media';

.Modal {
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	min-width: 100%;
	animation: 0.2s ease;
	justify-content: center;
	align-items: center;
	background: rgba(35, 53, 80, 0.2);
	-webkit-backdrop-filter: blur(14px);
	backdrop-filter: blur(14px);
	border: none;
}

.Modal:focus {
	outline: none;
}
