@import '../../../../styles/media';

.MenuBlockItem {
	background-color: transparent;
	margin-bottom: 0.2rem;
	font-size: large;
	font-weight: 600;
	border-radius: 0.6rem;
	padding: 0.78rem 0;
	cursor: pointer;
	text-align: start;
	display: flex;
	align-items: center;
	> a {
		color: rgb(var(--txt-color));
	}
}

.MenuBlockItem:hover {
	background-color: rgb(var(--bg-color-ui-item));
}

.activeItemMenu {
	background-color: rgb(var(--bg-color-ui-item));
}

.IconItemMenu {
	margin: 0 1rem;
}

.IconItemMenu:hover {
	color: rgb(var(--a-color));
}

.IconItemMenuDot {
	color: rgb(var(--a-color));
	/* margin-bottom: -0.3rem; */
	margin: -1rem 0 -1.2rem 0;
	margin-left: 8rem;
}

.IconItemSocialMenu {
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	color: rgb(var(--txt-color));
}

.IconItemSocialMenu:hover {
	background-color: rgb(var(--bg-color-ui-item));
	border-radius: 0.6rem;
	cursor: pointer;
	color: rgb(var(--a-color));
}

.LeftSidebar {
	width: 100%;

	.MenuBlock {
	}

	.SocialBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1rem 0.8rem;
	}

	.CreatePost {
		display: flex;
		justify-content: center;
		margin-bottom: 1rem;
		> button {
			width: 14rem;
			height: 3rem;
			margin: 0 0.8rem;
			font-weight: 600;
			font-size: medium;
			border-width: 0.1rem;
			border-color: rgb(var(--bg-color-ui-item));
			border-style: solid;
		}
	}
}
