@import '../../../../styles/media';

.LeftSideMenuItem {
	background-color: blue;
}

.activeItemMenu {
	background-color: white;
}

.LeftSidebar {
	width: 100%;
	.LeftSidebarFrame {
		.MenuBlockItem {
			display: flex;
			align-items: center;
			.Icon {
				padding: 0 0.8rem;
				margin-bottom: -0.25rem;
			}
			.IconDot {
				margin-left: -2.5rem;
				pointer-events: none;
			}
			.LeftSideButton {
				background-color: transparent;
				font-size: large;
				font-weight: 600;
				border: none;
				border-radius: 0.6rem;
				width: 16rem;
				height: 3.24rem;
				cursor: pointer;
				align-items: flex-start;
				text-align: start;
				> a {
					color: rgb(var(--txt-color));
				}
				> a:hover {
					color: rgb(var(--txt-color));
				}
			}
		}

		.MenuBlockItem:hover {
			background-color: rgb(var(--bg-color-ui-item));
			border-radius: 0.6rem;
		}

		.SocialBlock {
			margin: 1rem 0 2rem 0;
			.SocialFrame {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 0.8rem;
				.ItemSocial {
					padding: 0.4rem 0.4rem 0.1rem 0.4rem;
					color: rgb(var(--txt-color));
				}
				.ItemSocial:hover {
					background-color: rgb(var(--bg-color-ui-item));
					border-radius: 0.6rem;
					cursor: pointer;
					color: rgb(var(--a-color));
				}
			}
		}

		.CreatePost {
			display: flex;
			justify-content: center;

			.CreatePostLink {
				.CreatePostButton {
					width: 14rem;
					height: 3rem;
					margin: 0 0.8rem;
					font-weight: 600;
					font-size: medium;
					border-width: 0.1rem;
					border-color: rgb(var(--bg-color-ui-item));
					border-style: solid;
				}
			}
		}
	}
}
