@import '../../../../styles/media';

.TrendSwitch {
	display: flex;
	width: 100%;
	margin-top: 1rem;

	.TrendFrame {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		background-color: rgb(var(--bg-color-card));
		border-radius: 0.6rem;
		border: none;
		padding: 0.3rem;
		.SwitchButton {
			background-color: transparent;
			color: rgb(var(--txt-color));
			/* font-family: Montserrat; */
			font-weight: 600;
			border: none;
			border-radius: 0.5rem;
			width: 9rem;
			height: 2.6rem;
			cursor: pointer;
		}
		.SwitchButton:hover {
			background-color: rgb(var(--bg-color-ui-item));
		}
	}
}
