@import '../../../../styles/media';

.LiveCommentItem {
	margin-top: 2rem;
	.CommentTopBar {
		display: flex;

		.LeftSideBar {
			display: flex;
		}

		.RightSideBar {
			padding-left: 0.4rem;
			width: 100%;
			text-align: left;

			.TopBarAuthor {
				display: flex;

				.CommentAuthorLink {
					color: #c9cccf;
					font-weight: 600;
					margin-right: 0.4rem;
				}

				.CommentAuthorLink:hover {
					color: #8b9192;
				}

				> p {
					font-size: small;
				}
			}

			.CommentLocate {
				font-size: small;
				font-weight: 500;
				color: #c9cccf;
			}
			.CommentLocate:hover {
				color: #8b9192;
			}
		}
	}
	.CommentContent {
		margin-top: 0.4rem;
		.CommentTxtContent {
			color: #c9cccf;
		}
		.CommentTxtContent:hover {
			color: #8b9192;
		}
	}
}
