@import '../../../styles/media';

.NavBar {
	.NavBarFrame {
		.MenuBlock {
			.MenuFrame {
				margin-top: 1rem;
				.LeftSideDiv {
					display: flex;
					align-items: center;
					.Icon {
						padding: 0 0.8rem;
						margin-bottom: -0.25rem;
					}
					.LeftSideButton {
						background-color: transparent;
						font-family: Montserrat;
						font-size: large;
						font-weight: 600;
						border: none;
						border-radius: 0.6rem;
						padding: 0.96rem 0 0.96rem 0;
						cursor: pointer;

						align-items: flex-start;
						text-align: start;
						> a {
							color: #c9cccf;
						}
						> a:hover {
							color: #c9cccf;
						}
					}
				}
				.LeftSideDiv:hover {
					background-color: #233550;
					border-radius: 0.6rem;
					color: #3375d6;
					> Link:hover {
						color: #c9cccf;
					}
				}
			}
		}

		.AboutContainer {
			position: fixed;
			bottom: 1rem;
			width: 17rem;
			margin-left: 1rem;
			.ShortAbout {
				> p {
					font-size: small;
				}
			}
		}
	}
}
