@import '../../../../../styles/media';

.Post {
	margin-top: 1rem;
	background-color: rgb(var(--bg-color-card));
	border-radius: 0.6rem;
	padding: 1rem;
	.PostFrame {
		.PostTopBar {
			display: flex;
			justify-content: space-between;
			.LeftSideBar {
				display: flex;
				align-items: center;
				.Avatar {
					perspective: 1000px;
					/* margin-left: 0.8rem; */

					.AvatarInner {
						border-radius: 9999px;
						width: 38px;
						height: 38px;
						border-color: rgb(var(--txt-color));
						border-style: solid;
						border-width: 2px;

						.AvatarImg {
							border-radius: 9999px;
							background-size: cover;
							background-repeat: no-repeat;
							border-radius: 100%;
							width: 100%;
							height: 100%;
							display: inline-block;
						}
					}
					.AvatarInner:hover {
						border-color: rgb(var(--a-color));
						border-width: 2px;
						cursor: pointer;
					}
				}
			}
			.CenterBar {
				padding-left: 0.4rem;
				width: 100%;
				text-align: left;
				.PostAuthorLink {
					color: rgb(var(--txt-color));
					font-weight: 600;
				}
				.PostAuthorLink:hover {
					color: rgb(var(--a-color-hover-dark));
				}

				.SubCenterBar {
					display: flex;
					.PostCategoryLink {
						font-size: small;
						font-weight: 500;
						color: rgb(var(--txt-color));
					}

					.PostCategoryLink:hover {
						color: rgb(var(--a-color-hover-dark));
					}

					.PostTimeCreate {
						font-size: small;
						font-weight: 500;
						color: rgb(var(--txt-color));
						margin-left: 0.4rem;
					}
				}
			}
			.RightSideBar {
				display: flex;
				align-items: center;
				.Subscribe {
					border: none;
					background-color: rgb(var(--bg-color-ui-item));
					border-radius: 0.6rem;
					cursor: pointer;
					margin-right: 0.4rem;
					padding: 0.4rem 1rem 0.3rem 1rem;
					font-size: small;
					font-weight: 600;
					/* font-family: Montserrat; */
					color: rgb(var(--txt-color));
				}
				.Subscribe:hover {
					background-color: rgb(var(--a-color));
					border-radius: 0.6rem;
				}
				.Other {
					padding: 0.4rem 0.4rem 0.2rem 0.3rem;
					background-color: transparent;
					border: none;
					cursor: pointer;
					margin-left: 0.5rem;
					color: rgb(var(--txt-color));
				}
				.Other:hover {
					background-color: rgb(var(--bg-color-ui-item));
					border-radius: 9999px;
				}
			}
		}
		.PostBody {
			.PostContent {
				.PostName {
					margin: 0.8rem 0;
				}
				.PostTxtPreview {
				}
			}

			.PostImgPreview {
				height: 24rem;
				width: 100%;
				border-radius: 0.6rem;
				margin: 1rem 0;
			}
		}
	}
	.PostDownMenu {
		.PostDownMenuFrame {
			.DownMenuTopBar {
				display: flex;
				width: 100%;
				align-items: center;

				.View {
					display: flex;
					align-items: center;
					> p {
						color: #8b9192;
						font-size: small;
					}

					.ViewCount {
						margin-right: 0.2rem;
						font-weight: 600;
					}
				}
				.Open {
					display: flex;
					margin-left: 1rem;
					align-items: center;
					> p {
						color: #8b9192;
						font-size: small;
					}
					.OpenCount {
						margin-right: 0.2rem;
						font-weight: 600;
					}
				}

				.Repost {
					display: flex;
					margin-left: 1rem;
					align-items: center;
					> p {
						color: #8b9192;
						font-size: small;
					}
					.RepostCount {
						margin-right: 0.2rem;
						font-weight: 600;
					}
				}
			}
			.DownMenuBotBar {
				display: flex;
				justify-content: space-between;
				margin-top: 1rem;
				align-items: center;
				.BotBarLeft {
					display: flex;
					justify-content: flex-start;
					align-items: center;

					.Likes {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						margin-right: 1rem;
						> p {
							color: #8b9192;
							font-weight: 600;
						}
						.LikesButton {
							padding: 0.4rem 0.4rem 0.2rem 0.4rem;
							background-color: transparent;
							border: none;
							cursor: pointer;
							margin-right: 0.4rem;
							color: #8b9192;
						}
						.LikesButton:hover {
							background-color: #ff00001f;
							border-radius: 9999px;
							color: #f00;
						}
					}

					.Comments {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						margin-right: 1rem;
						> p {
							color: #8b9192;
							font-weight: 600;
						}
						.CommentsButton {
							padding: 0.4rem 0.4rem 0.2rem 0.4rem;
							background-color: transparent;
							border: none;
							cursor: pointer;
							margin-right: 0.4rem;
							color: #8b9192;
						}
						.CommentsButton:hover {
							background-color: #ff00001f;
							border-radius: 9999px;
							color: #f00;
						}
					}

					.Bookmarks {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						margin-right: 1rem;
						> p {
							color: #8b9192;
							font-weight: 600;
						}
						.BookmarksButton {
							padding: 0.4rem 0.4rem 0.2rem 0.4rem;
							background-color: transparent;
							border: none;
							cursor: pointer;
							margin-right: 0.4rem;
							color: #8b9192;
						}
						.BookmarksButton:hover {
							background-color: #ff00001f;
							border-radius: 9999px;
							color: #f00;
						}
					}

					.ShareButton {
						padding: 0.4rem 0.4rem 0.4rem 0.4rem;
						background-color: transparent;
						border: none;
						cursor: pointer;
						margin-right: 0.4rem;
						color: #8b9192;
					}
					.ShareButton:hover {
						background-color: #ff00001f;
						border-radius: 9999px;
						color: #f00;
					}
				}
				.BotBarRight {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					.DownButton {
						padding: 0.4rem 0.4rem 0.2rem 0.3rem;
						background-color: transparent;
						border: none;
						cursor: pointer;
						margin-right: 0.4rem;
						color: #8b9192;
					}
					.DownButton:hover {
						background-color: #ff00001f;
						border-radius: 9999px;
						color: #f00;
					}
				}
			}
		}
	}
}
