@import '../../../styles/media';

.TrendSwitch {
	display: flex;
	width: 100%;

	.TrendFrame {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		background-color: #1e293b;
		border-radius: 0.6rem;
		border: none;
		padding: 0.3rem;
	}
}
