@import '../../../../styles/media';

.MenuBlockItem {
	background-color: transparent;
	margin-bottom: 0.2rem;
	font-size: large;
	font-weight: 600;
	border-radius: 0.6rem;
	padding: 0.78rem 0;
	cursor: pointer;
	text-align: start;
	display: flex;
	align-items: center;
	> a {
		color: rgb(var(--txt-color));
	}
}

.MenuBlockItem:hover {
	background-color: rgb(var(--bg-color-ui-item));
}

.activeItemMenu {
	background-color: rgb(var(--bg-color-ui-item));
}

.IconItemMenu {
	margin: 0 1rem;
}

.IconItemMenu:hover {
	color: rgb(var(--a-color));
}

.NavBar {
	.MenuBlock {
	}

	.AboutContainer {
		margin: 1rem 0 4rem 0;
		.ShortAbout {
			> p {
				font-size: small;
			}
		}
	}
}
