@import '../../../../styles/media';

.Header {
	display: flex;
	width: 100%;
	height: 4rem;
	background-color: rgb(var(--bg-color-body));
	justify-content: center;
	border-bottom: solid;
	border-width: 0.1rem;
	border-color: rgb(var(--a-color));

	.HeaderContainer {
		margin: 0 2.8rem;
		width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.Left {
			width: 25%;
			display: flex;
			align-items: center;
			justify-content: left;

			.Logo:hover {
				filter: saturate(200%);
			}
		}

		.Center {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			.ItemHeaderMenu {
				padding: 0.4rem 0.7rem;
			}
			.ItemHeaderMenu:hover {
				background-color: rgb(var(--bg-color-ui-item));
				border-radius: 0.4rem;
				cursor: pointer;
			}
		}

		.Right {
			width: 25%;
			display: flex;
			/* padding-top: 0.4rem; */
			align-items: center;
			justify-content: right;
		}
	}
}
