@import '../../../../../styles/media';

.Post {
	margin-top: 1rem;
	background-color: rgb(var(--bg-color-card));
	border-radius: 0.6rem;
	padding: 1rem;
	.PostFrame {
		.PostTopBar {
			display: flex;
			justify-content: space-between;
			.LeftSideBar {
				display: flex;
				align-items: center;
			}
			.CenterBar {
				padding-left: 0.4rem;
				width: 100%;
				text-align: left;
				.PostAuthorLink {
					color: rgb(var(--txt-color));
					font-weight: 600;
				}
				.PostAuthorLink:hover {
					color: rgb(var(--a-color));
				}

				.PostTimeCreate {
					font-size: small;
					font-weight: 500;
					color: rgb(var(--txt-color));
				}
			}
			.RightSideBar {
				display: flex;
				align-items: center;
				.Subscribe {
					border: none;
					background-color: rgb(var(--bg-color-ui-item));
					border-radius: 0.6rem;
					cursor: pointer;
					margin-right: 0.4rem;
					padding: 0.4rem 1rem 0.3rem 1rem;
					font-size: small;
					font-weight: 600;
					/* font-family: Montserrat; */
					color: rgb(var(--txt-color));
				}
				.Subscribe:hover {
					background-color: rgb(var(--a-color));
					border-radius: 0.6rem;
				}
				.Other {
					padding: 0.4rem 0.4rem 0.2rem 0.3rem;
					background-color: transparent;
					border: none;
					cursor: pointer;
					margin-left: 0.5rem;
					color: rgb(var(--txt-color));
				}
				.Other:hover {
					background-color: rgb(var(--bg-color-ui-item));
					border-radius: 9999px;
				}
			}
		}
		.PostContentBar {
			.PostName {
				.PostNameH3 {
					margin: 0.8rem 0;
				}
			}
			.PostTxt {
				.PostTxtPreview {
				}
			}
			.PostImgPreview {
				height: 24rem;
				background-image: url('../../../../../public/post/blackhole.jpg');
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 0.6rem;
				margin: 1rem 0;
			}
		}
	}
}
