@import '../../../../../styles/media';

.LiveCommentItem {
	margin-top: 2rem;
	.CommentTopBar {
		display: flex;

		.LeftSideBar {
			display: flex;
			.Avatar {
				perspective: 1000px;
				/* margin-left: 0.8rem; */

				.AvatarInner {
					border-radius: 9999px;
					width: 38px;
					height: 38px;
					border-color: rgb(var(--txt-color));
					border-style: solid;
					border-width: 2px;

					.AvatarImg {
						border-radius: 9999px;
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: 100%;
						width: 100%;
						height: 100%;
						display: inline-block;
					}
				}
				.AvatarInner:hover {
					border-color: rgb(var(--a-color));
					border-width: 2px;
					cursor: pointer;
				}
			}
		}

		.RightSideBar {
			padding-left: 0.4rem;
			width: 100%;
			text-align: left;

			/* .postTitle {
				white-space: nowrap;
				max-width: 5%;
				overflow: hidden;
				text-overflow: ellipsis;
			} */

			.TopBarAuthor {
				display: flex;

				.CommentAuthorLink {
					color: rgb(var(--txt-color));
					font-weight: 600;
					margin-right: 0.4rem;
				}

				.CommentAuthorLink:hover {
					color: rgb(var(--a-color-hover-dark));
				}

				> p {
					font-size: small;
				}
			}

			.CommentLocate {
				font-size: small;
				font-weight: 500;
				color: rgb(var(--txt-color));
			}
			.CommentLocate:hover {
				color: rgb(var(--a-color-hover-dark));
			}
		}
	}
	.CommentContent {
		margin-top: 0.4rem;
		.CommentTxtContent {
			color: rgb(var(--txt-color));
		}
		.CommentTxtContent:hover {
			color: rgb(var(--a-color-hover-dark));
		}
	}
}
