@import '../../../../../styles/media';

.BannerItem {
	width: 100%;
	.BannerItemFrame {
		max-height: 8rem;
		width: 100%;
		border-radius: 0.6rem;
		/* margin: 1rem 0; */
	}
	.communityName {
		margin-top: -5.5rem;
		cursor: default;
		margin-bottom: 3rem;
		text-align: center;
		min-height: 2.45rem;
		color: rgb(var(--txt-color-headers));
		text-transform: uppercase;
		font-weight: 700;
	}
	.Search {
		/* position: fixed; */
		top: 20;
		display: flex;
		justify-content: center;
		width: 100%;

		.SearchFrame {
			display: flex;
			/* background-color: rgb(var(--bg-color-card)); */
			border-radius: 0.6rem;
			margin-top: -1.4rem;
			.Icon {
				margin: 0.45rem;
				/* position: absolute; */
				margin-right: -1.9rem;
				z-index: 1;
				color: rgb(var(--a-color-hover-dark));
			}
			.Input {
				color: rgb(var(--txt-color));
				font-weight: 600;
				padding: 0 0.6rem 0 2.2rem;
				height: 2.5rem;
				width: 350px;
				border-radius: 0.6rem;
				border-style: solid;
				border-width: 0.1rem;
				border-color: rgb(var(--bg-color-ui-item));
				background-color: rgb(var(--bg-color-card));
			}
			.Input:focus {
				outline: none;
				background-color: rgb(var(--bg-color-ui-item));
			}
		}
	}
}
