@import './media';

.SwitchButton {
	background-color: transparent;
	color: white;
	font-family: Montserrat;
	font-weight: 600;
	border: none;
	border-radius: 0.5rem;
	padding: 0.8rem 3.36rem;
	cursor: pointer;
}
