@import '../../../styles/media';

.Banner {
	width: 100%;
	.BannerFrame {
		background-image: url('../../../public/banner/banner.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		width: 100%;
		color: white;
		text-transform: uppercase;
		font-weight: 900;
		font-size: x-large;
		padding: 2.5rem 0 2.5rem 0;
		border-radius: 0.6rem;
		margin-bottom: 2rem;
	}
	.Search {
		/* margin-top: 1vw; */
		display: flex;
		justify-content: center;
		width: 100%;

		.SearchFrame {
			display: flex;
			position: absolute;
			background-color: #1e293b;
			border-radius: 0.6rem;
			top: 11.8rem;
			.Icon {
				color: white;
				margin: 4px 0 0 4px;
			}
			.Input {
				font-family: Montserrat;
				color: white;
				font-weight: 600;
				padding: 0 0.6rem 0 0.6rem;
				height: 2.5rem;
				width: 350px;
				border-radius: 0.6rem;
				border-style: none;
				background-color: #1e293b;
			}
		}
	}
}
