@import '../../../styles/media';

.Header {
	display: flex;
	width: 100%;
	height: 4rem;
	background-color: #0f172a;
	justify-content: center;
	border-bottom: solid;
	border-width: 0.1rem;
	border-color: #3375d6;

	.HeaderContainer {
		width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.Left {
			width: 25%;
			display: flex;
			align-items: center;
			justify-content: left;

			.Logo:hover {
				filter: saturate(200%);
			}
		}

		.Center {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			.ItemHeaderMenu {
				padding: 0.6rem 0.8rem;
			}
			.ItemHeaderMenu:hover {
				background-color: #233550;
				border-radius: 0.4rem;
				cursor: pointer;
				color: #3375d6;
			}
		}

		.Right {
			width: 25%;
			display: flex;
			align-items: center;
			justify-content: right;

			.ItemHeaderMenu {
				padding: 0.6rem 0.8rem;
			}
			.ItemHeaderMenu:hover {
				background-color: #233550;
				border-radius: 0.4rem;
				cursor: pointer;
				color: #3375d6;
			}

			.ThemeSwitch {
				/* margin-top: 0.35rem; */
			}

			.notifications_link {
				.notifications_number {
					color: white;
					position: absolute;
					font-size: larger;
					background-color: rgb(170, 0, 0);
					border-radius: 8px;
					padding: 0 4px 0 4px;
					margin: -9px 0 0 -12px;
				}
				.notifications_number:hover {
					color: white;
				}
			}
			.notifications_link:hover {
				color: #3375d6;
			}

			.Avatar {
				perspective: 1000px;
				margin-left: 0.8rem;

				.AvatarInner {
					border-radius: 9999px;
					width: 38px;
					height: 38px;
					border-color: #d2d2d2;
					border-style: solid;
					border-width: 2px;

					.AvatarFrame {
						background-image: url('../../../public/social/avatar.svg');
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: 100%;
						width: 100%;
						height: 100%;
						display: inline-block;
					}
				}
				.AvatarInner:hover {
					border-color: #3375d6;
					border-width: 2px;
					cursor: pointer;
				}
			}
		}
	}
}
